<html lang="en">
  <%- include("partials/header.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>
    <div class="not-found content">
      <h1>Oops, 404 errr--- Page not found</h1>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
  </body>
</html>
