<html lang="en">
  <%- include("partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum
        veritatis aliquid totam quas, quo officiis odio aliquam aut quidem
        consectetur cumque deleniti iusto atque enim qui eius blanditiis quod?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum
        veritatis aliquid totam quas, quo officiis odio aliquam aut quidem
        consectetur cumque deleniti iusto atque enim qui eius blanditiis quod?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum
        veritatis aliquid totam quas, quo officiis odio aliquam aut quidem
        consectetur cumque deleniti iusto atque enim qui eius blanditiis quod?
      </p>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body> 
  </body> 
</html>
